body {
    font-family: 'Arial', sans-serif;
}

.main-title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
    display: flex;
}

.addButton {
    background-color: #4CAF50;
    width: 30px; 
    height: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 100px;
    margin-left: 15px;
}

.addButton:hover {
    background-color: #368139;
}